:root {
    --bg-color-white: #ffffff;
    --bg-color-primary: #f5f5f5;
    --bg-color-secondary: #f5f4fa;
    --bd-color-brand: #2f303a;
    --bg-color-cards: #eeeeee;
    --bg-color-icon: #AFB1B8;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --color-text-white: #ffffff;
    --color-text-focus: #2196f3;
    --color-button-primary: #2196f3;
    --color-button-secondary: #f5f4fa;
    --color-contact: rgba(255,255,255,0.6);
    }
body {
        background-color: var(--bg-color-white);
        font-family: Roboto, sans-serif;         
    }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.section {
    padding: 94px 0;    
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;

}
/* Header */
.header{
    background-color: var(--bg-color-white);
    border-bottom: 1px solid #ECECEC;
    padding: 24px 0;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

   
}
    /* Logo  header */
.site-nav .logo.link {     
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000;
    margin: 0px;
}
.logo-span {
    color: var(--color-text-focus);
}
    /* site-nav */
.container-nav {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    }
    
.adress-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;

   
}  

.site-nav {
    display: flex;
    align-items: center;
    gap: 93px;  
}  
.site-nav .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
     }
.site-nav .link.current {
    color: var(--color-text-focus);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--color-text-focus);   
            }
    /* Contact */
.contact {
    display: flex;
    color: var(--secondary-text-color);
    fill: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14x;
    letter-spacing: 0.02em;
}
.icon-adress {
display: flex;
content: "";
margin-right: 10px;
align-items: center;
fill: currentColor;
}

.contact.link:hover,
.contact.link:focus {    
    color: var(--color-text-focus);
}

/* Hero */
.hero {
    max-width: 1600px;
    color: var(--color-text-white);
    background-color: var(--bd-color-brand);
    margin: 0px auto;
    padding: 200px 0px;
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/heroimg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 696px;
    margin: 0 auto 30px;
}
.hero-button {
    display: flex;
    color: var(--color-text-white);
    background-color: var(--color-button-primary);
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    width: 216px;
    height: 50px;
    border-radius: 4px;
    margin: 0 auto;
    align-items: center;
    border: 0px;
    justify-content: center;


}
/* section */

.section-title.display-none {
display: none;
}
/* Наші переваги контейнер */
.benefits-container {
    display: flex;   
    justify-content: space-between;
    gap: 30px;
}

.benefit-icon {
    display: flex;
    width: 270px;
    height: 120px;
    background-color: var(--bg-color-secondary);
    margin-bottom: 30px;
    justify-content:center;
    align-items: center;
    border-radius: 4px;

}
.list-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: 270px;
    margin-bottom: 10px;
}
.text {
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
/* Чим ми займаємось  */
.section.middle {
padding: 0 0 94px;
}
.whatwedo-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.section-title{
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

/* Наша команда */
.section.teams {
    background-color: var(--bg-color-secondary);
}

.teams-container {
    display: flex;
    gap: 30px;
   }
.team-card {
    background-color: var(--bg-color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.teams-title {
    padding: 30px 0 30px 0;
}
.list-title-card {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
}

.text-card {
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 16px;

}
    /* Соцсети */
.soc-list {
    display: flex;
    gap: 10px;
    /* justify-content:space-between; */
    /* padding: 0 32px 30px; */
    justify-content: center;
    /* align-items: center; */
    
}
.soc-link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: var(--bg-color-icon);
}
.soc-icon {
    fill: currentColor;
}
.soc-link:hover,
.soc-link:focus {
    background-color: var(--color-text-focus);
    color: var(--color-text-white);
}

/* Наші клієнти */
.clients-container {
    display: flex;
    width: 100%;
    gap: 30px;
    justify-content: center;
    /* align-items: center; */
    cursor: pointer;
} 

.clients-link {
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    color: var(--bg-color-icon);
}
.clients-icon {
    fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
    border-color: var(--color-text-focus);
    color: var(--color-text-focus);
    }


/* Footer */
.footer {
    background-color: var(--bd-color-brand);
    padding: 60px 0;
}
.footer-container {
    display: flex;
    gap: 70px;
    align-items: baseline;

}
.logo-footer {
    display: inline-block;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--color-text-white);
    padding-bottom: 20px;
}
.logo-footer-span {
    color: var(--color-text-focus);
}
.footer-list:nth-child(-n+2) {
margin-bottom: 9px;
}
.address {
    color: var(--color-text-white);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.contact-footer {
    display: inline-block;
    color: var(--color-contact);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.logo-footer:hover,
.logo-footer:focus,
.address:hover,
.address:focus,
.contact-footer:hover,
.contact-footer:focus {
    color: var(--color-text-focus);
}

.text-footer {
    color: var(--color-text-white);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;       
    margin-bottom: 20px;
}
.soc-list-footer {
    display: flex;
    gap: 10px;
}

.soc-link-footer {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--color-text-white);
}

.soc-icon-footer {
    fill: currentColor;
}

.soc-link-footer:hover,
.soc-link-footer:focus {
    background-color: var(--color-text-focus);
}


/* Portfolio section */
.filter-container {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 50px;
}


    /* button */

.button {
    color: var(--primary-text-color);
    background-color: var(--bg-color-secondary);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;   
    letter-spacing: 0.03em;
    border-radius: 4px;
    border: 0;
    padding: 6px 22px;
    cursor: pointer;
}
.button:hover,
.button:focus {
    color: var(--color-text-white);
    background-color: var(--color-text-focus);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
} 

.portfolio-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
     
}
.image {
    display: block;
}
.portfolio-title {
padding: 20px 24px;
border-bottom: 1px solid #EEEEEE;
border-left: 1px solid #EEEEEE;
border-right: 1px solid #EEEEEE;
}
.list-title-portfolio {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.text-portfolio {
    display: inline-block;
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}
.portfolio-card {
    flex-basis: calc((100%-60px)/3);
    max-width: 370px;
}
.portfolio-card:hover {   
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    
}